/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #cccccc;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* html {
  font-family: 'Nunito', sans-serif;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

article {
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem;
}

button {
  margin: 1rem 1rem 0.5rem;
  font: inherit;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.5rem;
}

img {
  width: 200px;
  border: 0.5rem double #000;
  border-radius: 50%;
  margin: 0 1rem 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */
